* {
    box-sizing: border-box;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    margin: 0 auto;
    gap: 0px;
    display: flex 1;

}



body {
    display: flex 1;
    width: 100vw;
    height: 100dvh;
    background-image: url("./000.jpg");
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    ;
}

.kablammo {
    font-family: "Kablammo", "Mea Culpa", system-ui;
    font-size: clamp(1.2rem, 2.5vw, 6rem);
    letter-spacing: 0.5px;
    animation-name: wishFyou;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    transition-delay: 0.5s;
    padding-bottom: 5px;
    text-align: center;

    @keyframes wishFyou {

        0% {
            opacity: 0%;
        }

        50% {
            opacity: 50%;
        }

        100% {
            opacity: 100%;
        }
    }
}



a {
    text-decoration: none;
    color: rgb(146 83 7);
    letter-spacing: 0.9px;
    font-size: clamp(1.2rem, 2.5vw, 6rem);

}

a#back {
    position: relative;
    font-family: MV Boli, libre-baskerville, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: rgb(146 83 7);
    letter-spacing: 0.5px;
    font-size: clamp(1.0rem, 2.0vw, 2rem);
    z-index: 1;

    @media(width>=320px) {
        top: 10px;
        right: 30%;
    }

    @media(width>470px) {
        top: 18px;
        right: 33%;
    }

    @media(width>=1024px) {
        top: 16px;
        right: 40%;
    }


}

b {
    font-family: MV Boli, libre-baskerville, Georgia, Times, 'Times New Roman', serif;
    display: flex-wrap;
    line-height: 0px;
    text-align: center;
    align-items: center;
    font-size: clamp(1.2rem, 3vw, 4rem);
}

#button {
    border: 4px solid rgba(222, 201, 66, 0.625);

    @media(width >=40em) {
        border: 6px solid rgba(222, 201, 66, 0.625);
    }

    @media(width >=60em) {
        border: 24px solid rgba(222, 201, 66, 0.625);
    }

    @media(width >=80em) {
        border: 32px solid rgba(222, 201, 66, 0.625);
    }

    @media(width >=120em) {
        border: 80px solid rgba(222, 201, 66, 0.625);
    }

    @media(width >=140em) {
        border: 480px solid rgba(222, 201, 66, 0.625);
    }

    display:flex;
    border-radius: 30px;
    width: 70%;
    height:auto;
    justify-content:center;
    margin-top:20px;
    padding: 10px 20px;
    animation-name: bordertrans;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(.04, .4, .82, .48);
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes bordertrans {
    0% {
        border: 4px solid brown;
    }

    10% {
        border: 4px solid orange;
    }

    30% {
        border: 4px solid yellow;

    }

    50% {

        border: 4px solid purple;
    }

    60% {
        border: 4px solid darkred;
    }

    70% {
        border: 4px solid yellowgreen;

    }

    80% {
        border: 4px solid gold;
    }

    100% {
        border: 4px solid rgb(5, 230, 255);
    }
}

div#greet.fade {
    padding-bottom: 10px;
    font-family: Brush Script MT, cursive, fantasy;
    font-size: clamp(1.5rem, 5vw, 5rem);

}

.outerb {
    display: flex;
    width: 90%;
    background-image: url("./background.png");
    height: auto;
    aspect-ratio: 600 / 220;
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    animation-name: outerAni;
    animation-duration: 1500ms;
    animation-timing-function: cubic-bezier(.04, .4, .82, .48);
    animation-iteration-count: infinite;
    transition-delay: 0.5s;
}

@keyframes outerAni {

    0% {
        background-image: url("./background.png");
    }

    25% {
        background-image: url("./background2a.png");
    }

    50% {
        background-image: url("./background2.png");
    }

    65% {
        background-image: url("./background.png");
    }

    100% {
        background-image: url("./background2.png");
    }
}

.fade {
    display: block;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.fade.show {
    opacity: 1;
}

.main {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    height: 80vh;
    width: 80%;
    max-width: 100vh;
    background: rgb(247, 212, 109);
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    aspect-ratio: 600 / 220;
}

#greet {
    display: flex;
    color: rgb(235, 235, 231);
    letter-spacing: 2px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

footer {
    padding: 10px 0px 15px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 0;

    @media(width > 310px) {
        display: grid;

    }

    @media(width > 758px) {
        display: flex;
    }
}

#footer {
    color: rgb(25, 1, 1);
    position: relative;
    font-size: 0.5rem;
    background-color: rgb(247, 221, 144);
    border-radius: 5px;
    width: 5rem;

    @media(width>310px) {
        margin-top: 10px;
    }

    @media(width>758px) {
        margin-top: 0px;
    }

    text-align: center;
    float:inline-start;

    @media(width>=40em) {
        font-size: 0.55rem;
    }

    @media(width>=60em) {
        font-size: 0.7rem;
    }

}

#now {
    color: rgb(25, 1, 1);
    position: relative;
    font-size: 0.5rem;
    background-color: rgb(247, 221, 144);
    border-radius: 5px;
    width: 8rem;
    text-align: center;
    float: inline-end;

    @media(width>=40em) {
        font-size: 0.7rem;
    }

    @media(width>=60em) {
        font-size: 0.7rem;
    }
}

#mediaB {
    display: inline-grid;
    grid-template-rows: repeat(auto, auto-fit);
    width: 100vw;
    height: 100dvh;
    min-width: 90vw;
    min-height: auto;
    background-image: url("./000.jpg");
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

video {
    display: block;
    justify-self: center;
    align-self: center;
    place-content: center;
    padding: 0px;
    width: 90%;
    min-width: 80vw;
    height: 90vh;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.5);
@media(width>=320px) {
   object-fit: fill; 
}
}
;


.gap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 1%;
}
